.invite_div{
  background: linear-gradient(90.06deg, #181716 0%, #ED4E08 99.97%);
}
.invite_text{
  color: #FFFFFF;
}
.invite_btn{
  background: #FFFFFF;
  border-radius: 20px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
