.App {
  font-family: sans-serif;
  text-align: center;
}
.main-body {
  font-family: Roboto;
  color: #000000;
}
.main-body .fs-14 {
  font-size: 14px;
}
.main-body .fs-16 {
  font-size: 16px;
}
.main-body .fs-12 {
  font-size: 12px;
}
.main-body .fs-20 {
  font-size: 20px;
}
.main-body .fw-500 {
  font-weight: 500;
}
.main-body .fw-700 {
  font-weight: 700;
}
.main-body .fw-300 {
  font-weight: 300;
}
.main-body .fc-light {
  color: #878787;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-weight: 400;
}
